body {
    background: linear-gradient(to right, #FEFEE3 0%, #FEFEE3 50%, #4C956C 50%, #4C956C 100%);
}

.navbutton1 {
    border-style: solid;
    border-color: #D68C45;
    background: #D68C45;
}

.navbutton2 {
    border-style: solid;
    border-color: #FFC9B9;
    background: #FFC9B9;
}

.pagetitle {
    background: #2C6E49;
    color: white;
    
}