<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Account Information">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>

</head>
<body>
<h1> 8th Wonder Putt Putt Golf</h1>

{% include 'navBar.html' %}


<div class="Account Details">

    <h2>Account Details</h2>

    <p>Email Address</p>
    <p>Password</p>
    <p>Name</p>
    <p>Phone Number</p>
    <p>User Type</p>
    <select>
        <option value=”player”>Player</option>
        <option value=”sponsor”>Sponsor</option>
        <option value=”drinkMeister”>Drink Meister</option>
        <option value=”manager”>Manager</option>
    </select>

    <input type="submit" value="Update Account">
    <a href="{% url 'bank' %}"><input type="submit" value="Check Balance"></a>

</div>

</body>
</html>