<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Bank">
  <meta name="author" content="8th Wonder">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank</title>

</head>
<body>
<h1> 8th Wonder Putt Putt Golf</h1>

<nav class="topnav">
  <a href="#home">Home</a>
  <a href="#tournament">Tournament</a>
  <a href="#drink">Drink</a>
  <a href="#account">Account</a>
  <a href="#signout">Sign Out</a>
</nav>

<div class="Balance">

  <h2>Current Balance</h2>
  <p>$ 105.09</p>
  <a href="#transfer"><input type="submit" value="Transfer">
  </a>

</div>


<div class="Recent Transfers">

  <h2>Recent Transfers</h2>

  <p>Drink -$10.00</p>
  <p>Incoming +$100.00</p>
  <p>Drink -$8.80</p>

</div>

</body>
</html>