<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

</head>
<body>

{% include 'navBar.html' %}

<h1>Current Orders</h1>
<div class="drinkOrders" id="#orderNumber">

    {% if orderList %}
    {% for order in orderList %}
    <p></p>
    <h3>Order From: {{ order.user }}</h3>
    <ul>
        <li>Drink: {{ order.drink }}</li>
        <li>Instructions: {{ order.specificInstructions }}</li>
        <li>Time Ordered: {{ order.timeOrdered }}</li>
        <li>Deliver to Hole: {{ order.location }}</li>
    </ul>
    <a><input type="submit" value="Deliver and Finish Order"></a>
    {% endfor %}
    {% else %}
        <p></p>
        <h3>No Current Orders</h3>
    {% endif %}


</div>
</body>
</html>