<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Drink Edit">
  <meta name="author" content="8th Wonder">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Drinks</title>

</head>
<body>
<h1> 8th Wonder Putt Putt Golf</h1>

<nav class="topnav">
  <a href="#home">Home</a>
  <a href="#tournament">Tournament</a>
  <a href="#drink">Drink</a>
  <a href="#account">Account</a>
  <a href="#signout">Sign Out</a>
</nav>

<div class="Drink Edit">

  <h2>Edit Drinks</h2>

  <p>Add New Drink</p>
  <label for="new name">Enter Name: </label><input id="new name" type="text" name="author" value="">
  <label for="new price">Enter Price: </label><input id="new price" type="text" name="author" value="">
  <input type="submit" value="Confirm">

  <p>Delete Drink</p>
  <p>Drink: </p>
  <select>
    <option value=”Nuka Cola”>Nuka Cola</option>
    <option value=”Atomic Shake”>Atomic Shake</option>
    <option value=”Radaway”>Radaway</option>
    <option value=”Dixon's Jet'”>Dixon's Jet'</option>
  </select>
  <input type="submit" value="Confirm">

  <p>Edit Current Drink</p>
  <p>Drink: </p>
  <select>
    <option value=”Nuka Cola”>Nuka Cola</option>
    <option value=”Atomic Shake”>Atomic Shake</option>
    <option value=”Radaway”>Radaway</option>
    <option value=”Dixon's Jet'”>Dixon's Jet'</option>
  </select>
  <label for="change name">Enter Name: </label><input id="change name" type="text" name="author" value="">
  <label for="change price">Enter Price: </label><input id="change price" type="text" name="author" value="">
  <input type="submit" value="Confirm">

</div>


<div class="Available Drinks">

  <h2>Available Drinks</h2>

  <p>Nuka Cola</p>
  <p>Nuka Cola Quantum</p>
  <p>Atomic Shake</p>
  <p>Sunset Sarsaparilla</p>
  <p>Bioluminescent Fluid</p>
  <p>Radaway</p>
  <p>Super Stimpack</p>
  <p>Dixon's Jet</p>

</div>

</body>
</html>