<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Drink Edit">
  <meta name="author" content="8th Wonder">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Drinks</title>

</head>
<body>

{% include 'navBar.html' %}

<div class="Drink Edit">

  <h2>Edit Drinks</h2>

  <p>Add New Drink</p>
  <form method="POST">
    {% csrf_token %}
    {{ addDrinkForm }}
    <input type="submit" value="Confirm">
  </form>

  <h2>Delete Drink</h2>
  <form method="POST">
    {% csrf_token %}
    {{ deleteDrinkForm }}
    <input type="submit" value="Confirm">
  </form>

  <h2>Edit Current Drink</h2>
  <form method="POST">
    {% csrf_token %}
    {{ editDrinkForm }}
    <input type="submit" value="Confirm">
  </form>

</div>


<div class="Available Drinks">

  <h2>Available Drinks</h2>

    {% if drinkList %}
    {% for drink in drinkList %}
      <p>{{ drink.name }}</p>
    {% endfor %}
    {% else %}
      <p>No Drinks Yet Created</p>
    {% endif %}

  <!--
  <p>Nuka Cola</p>
  <p>Nuka Cola Quantum</p>
  <p>Atomic Shake</p>
  <p>Sunset Sarsaparilla</p>
  <p>Bioluminescent Fluid</p>
  <p>Radaway</p>
  <p>Super Stimpack</p>
  <p>Dixon's Jet</p>
--->
</div>

</body>
</html>