<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

{% include 'navBar.html' %}

<h1>Current Orders</h1>
<div class="drinkOrders" id="#orderNumber">

    <form action="{% url 'drinkMeister' %}" method="POST">{% csrf_token %}
        <select id="order" name="order">
        {% for order in orderList %}
            <option value="{{ order.id }}">{{ order.user }} - {{ order.drink.name }}</option>
        {% endfor %}
    </select>
        <a><input type="submit" value="Deliver and Finish Order"></a>
    </form>

    {% if orderList %}
    {% for order in orderList %}
    <p></p>
    <h3 id="{{ order.user }}">Order From: {{ order.user }}</h3>
    <ul>
        <li>Drink: {{ order.drink.name }}</li>
        <li>Instructions: {{ order.specificInstructions }}</li>
        <li>Time Ordered: {{ order.timeOrdered }}</li>
        <li>Deliver to Hole: {{ order.location }}</li>
    </ul>

    {% endfor %}
    {% else %}
        <p></p>
        <h3>No Current Orders</h3>
    {% endif %}


</div>
</body>
</html>