<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Drinks">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
</head>

<body>

{% include 'navBar.html' %}


<div>
    <h2>Drinks</h2>

    <h3>Current Order: Nuka Cola Quantum</h3>
    <button>Order</button>
</div>
<p>&nbsp</p>
<div>
    <h2>Menu</h2>
    <button>Nuka Cola</button> <p></p>
    <button>Nuka Cola Quantum</button> <p></p>
    <button>Atomic Shake</button><p></p>
    <button>Sunset Sarsparilla</button><p></p>
    <button>Bioluminescent Fluid</button><p></p>
    <button>Radaway</button><p></p>
    <button>Super Stimpack</button><p></p>
    <button>Dixon's Jet</button><p></p>
</div>




</body>
</html>
