<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Drink Edit">
  <meta name="author" content="8th Wonder">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Drinks</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

{% include 'navBar.html' %}

<div class="Drink Edit">

  <h2>Edit Drinks</h2>

  <h3>Add New Drink</h3>
  <form action="{% url 'editDrinks' %}" method="POST">
    {% csrf_token %}
    {{ addDrinkForm }}
    <input type="submit" value="Confirm">
  </form>

  <h3>Delete Drink</h3>
  <form action="{% url 'editDrinks' %}" method="POST">{% csrf_token %}
    <label for="deleteDrink">Drink: </label><select id="deleteDrink" name="deleteDrink">
      {% if drinkList %}
        {% for drink in drinkList %}
        <option value="{{ drink.name }}">{{ drink.name }}</option>
        {% endfor %}
      {% endif %}
    </select>
    <input type="submit" value="Confirm">
  </form>

  <h3>Edit Current Drink</h3>
  <form action="{% url 'editDrinks' %}" method="POST">{% csrf_token %}
    <label for="drink">Drink: </label><select id="drink" name="drink">
      {% if drinkList %}
        {% for drink in drinkList %}
        <option value="{{ drink.name }}">{{ drink.name }}</option>
        {% endfor %}
      {% endif %}
    </select>
    <label for="name">New Name: </label><input id="name" type="text" name="name" value="" required>
    <label for="price">New Price: </label><input id="price" type="text" name="price" value="" required>
    <lable for="instructions">New Instructions: </lable><input id="instructions" type="text" name="instructions" value="" required>
    <input type="submit" value="Confirm">
  </form>

</div>


<div class="Available Drinks">

  <h3>Available Drinks</h3>

    {% if drinkList %}
    {% for drink in drinkList %}
      <h4>{{ drink.name }}</h4>
      <p> - {{ drink.price }}</p>
      <p> - {{ drink.instructions }}</p>
    {% endfor %}
    {% else %}
      <p>No Drinks Yet Created</p>
    {% endif %}

</div>

</body>
</html>