<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

{% include 'navBar.html' %}


<div class="column left">
    <h1> Upcoming Tournaments</h1>
{% if tournaments_list %}
<div>
    {% for t in tournaments_list %}
    <a href="{% url 'tournament' t.name %}">
        <button>
            <h2>{{t.name}}</h2>
            <h3>{{t.date}}: 3pm to 8pm</h3>
        </button>
    </a>
<br>
    {% endfor %}
</div>
{% else %}
<p>There are no upcoming tournaments</p>
{% endif %}
</div>


<div class="column right">

    <h2>Community Posts</h2>

    <p>New Davidson's Parking Garage: info info</p>
    <p>Team breaks record with perfect putt putt golf score of 18 points for 18 holes!</p>
    <p>New Drink to be released</p>

</div>

</body>
</html>