<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'navBar.html' %}

    <p></p>

    <a href="{% url 'events' %}"><input type="submit" value="See Events"></a>
    <div class="Top Scores">
        <h2>Top Scores</h2>
        <h3>Team Alpha: 18</h3>
        <h3>Team Beta: 20</h3>
        <h3>Team Gamma: 21</h3>
    </div>
</body>