<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Login">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
<div>
    <h2>Please Sign in or Create Account</h2>
    <form>
        Email Address:<br> <input type="text" name="email">
        <br>
        Password:<br> <input type="text" name="password">
        <br>
    </form>
    <p></p>
    <button>Login</button>
    <p></p>
    <button>Create New Account</button>
</div>


</body>
</html>
