<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Login">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
<div>
    {% include 'navBar.html' %}
    <h2>Please Sign in or Create Account</h2>
    <form method ="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type ="submit">Login</button>
    </form>
    <p></p>

    <p></p>

    <a href="{% url 'accountCreation' %}"><input type="submit" value="Create New Account"></a>

</div>


</body>
</html>
