<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

</head>
<body>
    <h1> 8th Wonder Putt Putt Golf</h1>

    <nav class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#tournament">Tournament</a>
        <a href="#drink">Drink</a>
        <a href="#account">Account</a>
        <a href="#signout">Sign Out</a>
    </nav>

    <h1> Welcome to 8th Wonder Putt Putt Golf</h1>



    <div class="Events">

        <h2>Events</h2>

        <p>-Drinks are 50% off this Wednesday!</p>
        <p>-Team breaks record with perfect putt putt golf score of 18 points for 18 holes!</p>
        <p>-New tournament begins this weekend!</p>

    </div>


    <div class="Top Scores">

        <h2>Top Scores</h2>

        <h3>Team Alpha: 18</h3>
        <h3>Team Beta: 20</h3>
        <h3>Team Gamma: 21</h3>

    </div>


</body>
</html>