<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

</head>
<body>

{% include 'navBar.html' %}

<p></p>

<div class="managerOptions">

    <button>
    <h2>Ban Player</h2>
    </button>
<br>
    <button>
    <h2>Edit current Tournaments</h2>
    </button>
<br>
    <button>
    <h2>Approve new sponsored tournaments</h2>
    </button>
<br>
    <button>
    <h2>Start a new tournament</h2>
    </button>
<br>
    <button>
    <h2>Add a new drink</h2>
    </button>
<br>
    <button>
    <h2>Remove a drink</h2>
    </button>
<br>
    <button>
    <h2>Call security</h2>
    </button>
<br>
    <button>
    <h2>Secret drinks men</h2>
    </button>

</div>


</body>
</html>