<div>

    <span><a href ="{% url 'home' %}" >Home</a></span>
    <span><a href ="{% url 'tournament' %}" >Tournaments</a></span>
    <span><a href ="{% url 'drinks' %}" >Drinks</a></span>
    <span><a href ="{% url 'account' %}" >Account</a></span>
    <span><a href ="{% url 'logout' %}" >Log out</a></span>


    <span style = "float:right">
        {% if user.is_authenticated %}
            <span>Logged in as {{ user.username }}</span>
        {% else %}
            <span><a href ="{% url 'login' %}" >Login</a></span>
        {% endif %}
    </span>
</div>