<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Order Confirmation">
  <meta name="author" content="8th Wonder">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sponsor</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>



        <h2 style="margin-top: 0%;">Sponsor New Tournament</h2>
        <p>Check for available day.</p>
        <form action="{% url 'sponsor' %}" method="post" > {% csrf_token %}
            <label for="date"></label><input type="date" name="date" id="date" value="">
            <br>
            <label for="tournamentName">Tournament Name: </label><input id="tournamentName" name="tournamentName" type="text" value="">
            <br>
            <input type="submit" value="Sponsor Tournament - $500" class="navButton1" style="width: 80%;"/>
        </form>

    <p></p>
    <a href="{% url 'events' %}"><input type="submit" value="See Events" class="navButton1" style="width: 80%;"></a>

