<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Sponsor Tournament">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Tournament</title>

</head>
<body>

    {% include 'navBar.html' %}

    <h1> Welcome to the Sponsor Page.</h1>



    <div class="Sponsor New Tournament">

        <h2>Sponsor New Tournament</h2>

        <p>Check for available day.</p>
        <label for="date"></label><input type="datetime-local" name="date" id="date" value="">

        <label for="sponsor">Enter Sponsor Name: </label><input id="sponsor" type="text" name="author" value="">

        <input type="submit" value="Sponsor Tournament - $500">


    </div>


    <div class="Current Tournaments">
        <p></p>
        <a href="{% url 'events' %}"><input type="submit" value="See Events"></a>
    </div>


</body>
</html>