<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <title>Sponsor Tournament</title>

</head>
<body>
    <h1> 8th Wonder Putt Putt Golf</h1>
    <h1> Welcome to the Sponsor Page.</h1>

    {% include 'navBar.html' %}

    <div class="Sponsor New Tournament">

        <h2>Sponsor New Tournament</h2>

        <p>Check for available day.</p>
        <label for="date"></label><input type="datetime-local" name="date" id="date" value="">

        <label for="sponsor">Enter Sponsor Name: </label>
        <input id="sponsor" type="text" name="author" value="">

        <input type="submit" value="Sponsor Tournament - $500">


    </div>


    <div class="Current Tournaments">
        <h2>List of future tournaments here</h2>
    </div>


</body>
</html>