<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tournament">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

{% include 'navBar.html' %}

<div>
    <h2>Play in tournament</h2>
    <button>Pay $20</button>
</div>
<p>&nbsp</p>
<div>
    <h2>Current Hole</h2>
    <p>2</p>
</div>
<div>
    <h2>Enter Score:</h2>
    <button>-2</button>
    <button>-1</button>
    <button>+0</button>
    <button>+1</button>
    <button>+2</button>
</div>
<div>
    Current Total:
    <p>16</p>
</div>
<table border="black">
    <tr>
        <td>Hole</td>
        <td>Par</td>
        <td>Score</td>
    </tr>
    <tr>
        <td>1</td>
        <td>3</td>
        <td>2</td>
    </tr>
    <tr>
        <td>2</td>
        <td>2</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
        <td>+2</td>
    </tr>
    <tr>
        <td>4</td>
        <td>4</td>
        <td>+1</td>
    </tr>
</table>

</body>
</html>
