<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page">
    <meta name="author" content="8th Wonder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

{% include 'navBar.html' %}
<div class="left column">
    <h2>Current Balance</h2>
    <h3>$ 105.09</h3>
<br>
<p>Transfer Amount</p>
<p>$<input type="number" min="0.00" max="10000.00" step="0.01"></p>
<br>
<p>Destination Account</p>
<input type="number" min="100000000" max="999999999">
<br>
    <button>Submit</button>
    <button>Cancel</button>
</div>
<div class="right column">
    <h2>Recent Transfers</h2>
    <button>
        <h3>Drink -$10.00</h3>
    </button>
    <button>
        <h3>Incoming +$100.00</h3>
    </button>
    <button>
        <h3>Drink -$8.80</h3>
    </button>
    <button>
        <h3>Drink -$10.00</h3>
    </button>
    <button>
        <h3>Tournament -$25.00</h3>
    </button>
    <button>
        <h3>Drink -$10.00</h3>
    </button>
</div>

</body>
</html>